@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
body {
  background-color: rgb(126, 93, 237);
  font-family: "Do Hyeon", sans-serif;
}

.grid__title {
  width: 100%;
}
.grid__title h1 {
  font-size: 200%;
  color: rgb(234, 229, 252);
  text-align: center;
  margin: 20px;
  letter-spacing: 5px;
  border: 5px solid rgb(227, 199, 79);
  border-radius: 20px;
  box-shadow: 5px 5px grey;
  text-shadow: 5px 5px grey;
}

section.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -1;
}

.grid__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  border-radius: 20px;
  box-shadow: 5px 5px grey;
  border: 5px solid rgb(227, 199, 79);
}
.grid__tile:hover {
  color: rgb(126, 93, 237);
  background-color: rgb(234, 229, 252);
}
.grid__tile i {
  text-align: center;
  color: rgb(234, 229, 252);
  font-size: 200px;
  height: 250px;
  width: 250px;
  margin-top: 25px;
  border-radius: 20px;
  text-shadow: 5px 5px grey;
  z-index: 0;
}
.grid__tile i:hover {
  color: rgb(126, 93, 237);
  background-color: rgb(234, 229, 252);
}
.grid__tile .grid__back__image {
  width: 250px;
  height: 250px;
  transform: rotateY(-180deg);
  position: absolute; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  z-index: 1;
}

.rotate {
  transform: rotateY(-180deg);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 5px solid rgb(252, 94, 121);
}

.match {
  transform: rotateY(-180deg);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 5px solid rgb(85, 194, 179);
}

/* defaut modal display*/
#endModal {
  display: none;
}

#startModal {
  display: block;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgb(126, 93, 237);
  color: rgb(234, 229, 252);
  margin: 15% auto;
  padding: 20px;
  font-size: 28px;
  width: 80%;
  border-radius: 20px;
  border: 5px solid rgb(227, 199, 79);
  text-align: center;
}
.modal-content button {
  border-radius: 20px;
  border: 5px solid rgb(227, 199, 79);
  font-size: 28px;
  color: rgb(234, 229, 252);
  background-color: rgb(126, 93, 237);
  font-family: "Do Hyeon", sans-serif;
  padding: 10px;
  margin: 10px;
}
.modal-content button:hover {
  color: rgb(126, 93, 237);
  background-color: rgb(234, 229, 252);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid__tile {
    width: 100px;
    height: 100px;
  }
  .grid__tile i {
    margin-top: 15px;
    font-size: 70px;
    width: 100px;
    height: 100px;
  }
  .grid__tile .grid__back__image {
    font-size: 70px;
    width: 100px;
    height: 100px;
  }
}